# **Taller EDA: predicción del precio de venta de una casa.**

## **Introducción**

Antes de comprar una vivienda, los futuros propietarios deben tener en cuenta una gran variedad de factores que pueden influir en su decisión de compra. Variables como el área del lote, la ubicación, el número de habitaciones, el número de baños o la cercanía a servicios esenciales, juegan un papel determinante al momento de escoger y negociar la casa que más se adecúa a las necesidades de cada cliente. Sin embargo, el precio final de la vivienda es uno de los factores determinantes, porque en muchas ocasiones establece los límites de la vivienda que una familia puede adquirir.
El siguientete análisis exploratorio de datos (EDA) srealizó con base en un dataset s compueota por 79 variabl s explicativas, con el objetivo de identificar aquellas que tienen mayor correlación con el precio final de una vivien en Ames, Iowad

. A través de este enfoque, se busca entendecuáles de las variables predictoras tiene el mayor s impaoan en el valor de las propiedad. Lo anterior con el ánimo de á realizar predicciones más precisas y ofrecer recomendaciones a posibles compradores y agentes inmobiliario

## **Análisis de variables según tipo**

El dataset consta de 79 variables, de las cuales 
s.

# Paso 1: Kit de herramientas EDA con Python

## Cargar librerías

In [5]:
pip install ydata-profiling[notebook]

Requirement already satisfied: ydata-profiling[notebook] in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (4.10.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (2.2.2)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (3.8.4)
Requirement already satisfied: pydantic>=2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (2.5.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (3.1.4)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling[notebook]) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (2.32.2)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (4.66.4)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (0.14.2)
Requirement already satisfied: typeguard<5,>=3 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (0.59.1)
Requirement already satisfied: jupyter>=1.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (1.0.0)
Requirement already satisfied: ipywidgets>=7.5.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ydata-profiling[notebook]) (7.8.1)
Requirement already satisfied: PyWavelets in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling[notebook]) (1.5.0)
Requirement already satisfied: pillow in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling[notebook]) (10.3.0)
Requirement already satisfied: comm>=0.1.3 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.2.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->ydata-profiling[notebook]) (5.14.3)
Requirement already satisfied: widgetsnbextension~=3.6.6 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->ydata-profiling[notebook]) (3.6.6)
Requirement already satisfied: ipython>=4.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->ydata-profiling[notebook]) (8.25.0)
Requirement already satisfied: jupyterlab-widgets<3,>=1.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipywidgets>=7.5.1->ydata-profiling[notebook]) (1.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling[notebook]) (2.1.3)
Requirement already satisfied: notebook in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter>=1.0.0->ydata-profiling[notebook]) (7.0.8)
Requirement already satisfied: qtconsole in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter>=1.0.0->ydata-profiling[notebook]) (5.5.1)
Requirement already satisfied: jupyter-console in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter>=1.0.0->ydata-profiling[notebook]) (6.6.3)
Requirement already satisfied: nbconvert in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter>=1.0.0->ydata-profiling[notebook]) (7.10.0)
Requirement already satisfied: ipykernel in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter>=1.0.0->ydata-profiling[notebook]) (6.28.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling[notebook]) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling[notebook]) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling[notebook]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling[notebook]) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling[notebook]) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling[notebook]) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling[notebook]) (2.14.6)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling[notebook]) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling[notebook]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling[notebook]) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling[notebook]) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling[notebook]) (2024.8.30)
Requirement already satisfied: patsy>=0.5.6 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling[notebook]) (0.5.6)
Requirement already satisfied: colorama in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling[notebook]) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling[notebook]) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling[notebook]) (3.2.1)
Requirement already satisfied: decorator in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (2.15.1)
Requirement already satisfied: stack-data in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.2.0)
Requirement already satisfied: six in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling[notebook]) (1.16.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (2.14.1)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (2.25.1)
Requirement already satisfied: jupyterlab<4.1,>=4.0.2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (4.0.11)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (0.2.3)
Requirement already satisfied: tornado>=6.2.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (6.4.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (5.7.2)
Requirement already satisfied: nest-asyncio in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (1.6.0)
Requirement already satisfied: psutil in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (25.1.2)
Requirement already satisfied: beautifulsoup4 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (0.1.2)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (0.8.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (5.9.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (1.2.1)
Requirement already satisfied: qtpy>=2.4.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from qtconsole->jupyter>=1.0.0->ydata-profiling[notebook]) (2.4.1)
Requirement already satisfied: webencodings in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.8.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter>=1.0.0->ydata-profiling[notebook]) (305.1)
Requirement already satisfied: anyio>=3.1.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (4.2.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (21.3.0)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (0.4.4)
Requirement already satisfied: overrides>=5.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (7.4.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (0.14.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (2.0.10)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (0.17.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (2.0.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (2.2.0)
Requirement already satisfied: babel>=2.10 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (4.19.2)
Requirement already satisfied: fastjsonschema in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.2.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->jupyter>=1.0.0->ydata-profiling[notebook]) (2.5)
Requirement already satisfied: executing in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.8.3)
Requirement already satisfied: asttokens in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.5.1->ydata-profiling[notebook]) (0.2.2)
Requirement already satisfied: sniffio>=1.1 in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (1.3.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\jairo viteri rojas\anaconda3\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter>=1.0.0->ydata-profiling[notebook]) (21.2.0)

In [27]:
import pandas as pd

In [29]:
import numpy as np

In [31]:
import matplotlib.pyplot as plt

In [33]:
import seaborn as sns

In [35]:
from sklearn import preprocessing, model_selection

In [37]:
from ydata_profiling import ProfileReport

# Paso 2: Importar los datos y leer el dataset

In [40]:
df = pd.read_csv("Data/House_sales.csv", sep=";")

In [42]:
df.shape # Para conocer el número de filas y columnas (f,c)

(2919, 81)

In [44]:
df.head() # Primeras 5 filas del dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [46]:
df.tail() # Últimas 5 filas del dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

# Paso 3: Análisis de datos

In [48]:
df.info() # muestra el tipo de datos de cada columna y si hay valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     1153 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB

In [54]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice        float64
Length: 81, dtype: object

In [67]:
# Columnas con valores numéricos
df.select_dtypes(include='number').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   LotFrontage    2433 non-null   float64
 3   LotArea        2919 non-null   int64
 4   OverallQual    2919 non-null   int64
 5   OverallCond    2919 non-null   int64
 6   YearBuilt      2919 non-null   int64
 7   YearRemodAdd   2919 non-null   int64
 8   MasVnrArea     2896 non-null   float64
 9   BsmtFinSF1     2918 non-null   float64
 10  BsmtFinSF2     2918 non-null   float64
 11  BsmtUnfSF      2918 non-null   float64
 12  TotalBsmtSF    2918 non-null   float64
 13  1stFlrSF       2919 non-null   int64
 14  2ndFlrSF       2919 non-null   int64
 15  LowQualFinSF   2919 non-null   int64
 16  GrLivArea      2919 non-null   int64
 17  BsmtFullBath   2917 non-null   float64
 18  BsmtHalfBath   2917 non-null   float64
 19  FullBath       2919 non-null   int64
 20  HalfBath       2919 non-null   int64
 21  BedroomAbvGr   2919 non-null   int64
 22  KitchenAbvGr   2919 non-null   int64
 23  TotRmsAbvGrd   2919 non-null   int64
 24  Fireplaces     2919 non-null   int64
 25  GarageYrBlt    2760 non-null   float64
 26  GarageCars     2918 non-null   float64
 27  GarageArea     2918 non-null   float64
 28  WoodDeckSF     2919 non-null   int64
 29  OpenPorchSF    2919 non-null   int64
 30  EnclosedPorch  2919 non-null   int64
 31  3SsnPorch      2919 non-null   int64
 32  ScreenPorch    2919 non-null   int64
 33  PoolArea       2919 non-null   int64
 34  MiscVal        2919 non-null   int64
 35  MoSold         2919 non-null   int64
 36  YrSold         2919 non-null   int64
 37  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26)
memory usage: 866.7 KB

In [94]:
# Resumen estadístico de las columnas numéricas.
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,2919.000000,2919.000000,2433.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2896.000000,2918.000000,...,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,1460.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737,180921.195890
std,842.787043,42.517628,23.344905,7886.996359,1.409947,1.113131,30.291442,20.894344,179.334253,455.610826,...,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,730.500000,20.000000,59.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129975.000000
50%,1460.000000,50.000000,68.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.500000,...,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,2189.500000,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,164.000000,733.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

# Paso 4: Manejo de duplicados y valores faltantes

In [73]:
# Obtener duplicados 
duplicados = df.duplicated()

In [75]:
duplicados

0       False
1       False
2       False
3       False
4       False
        ...
2914    False
2915    False
2916    False
2917    False
2918    False
Length: 2919, dtype: bool

## No hay filas duplicadas en el dataframe; por tanto, no se requiere eliminarlos.

In [89]:
df[df.isnull().any(axis=1)]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,NaN
2915,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,NaN
2916,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,NaN
2917,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,NaN
2918,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,NaN

In [83]:
# Identificación de valores faltantes en cada columna
valores_faltantes = df.isnull()

In [87]:
valores_faltantes

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2914,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,True
2915,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,True
2916,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,True
2917,False,False,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,True
2918,False,False,False,False,False,False,True,False,False,False,...,False,True,True,True,False,False,False,False,False,True

# Step 5: Data Reduction

# Step 6: Feature Engineering

# Step 7: Creating Features

# Step 8: Data Cleaning/Wrangling

# Step 9: EDA — Exploratory Data Analysis

# Step 10: Statistics Summary

# Step 11: EDA — Univariate Analysis

# Step 12: Data Transformation

# Step 13: EDA — Bivariate Analysis

# Step 14: EDA — Multivariate Analysis

# Step 15: Observing Data, Insights, and Storytelling